<div class="container">
    <div class="row">
        <div class="col-md-5">
        {{> todo/form}}
        </div>
        <div class="col-md-7">
            {{> todo/table}}
        </div>
    </div>
</div>
