<form action='api/todo/' method='post'>
  <div>
    <label for='title'>Title</label>
    <input type='text' name='title' id='title' />
  </div>
  <div>
    <label for='description'>Description</label>
    <textarea name='description' id='description' cols='30' rows='10'></textarea>
  </div>
  <button type='submit'>Add</button>
</form>